---
import Container from './container.astro'
---

<Container
  tag='footer'
  class='[content-visibility:auto] w-full flex flex-row items-center justify-between pt-2 pb-6 border-t-2 border-white/5'
>
  <p class='text-base'>Jesús Alcalá - 2025</p>
</Container>
